
<% @categories.each do |category| %>

  <p><b>Nazwa kategorii: <a href=<%= category.name %> ><%= category.name %></a> </b> </p>		
  <% 
  	category.products.each do |product| %>
  	<p style="margin-left:50px"><i><a href=<%= '/products/'+product.id.to_s %>><%= product.name %></a></i></p>
  		<div style='margin-left:70px'>
  			
  			<ul>
  				<li>Cena:<%= product.price %></li>
  				<li>Opis:<%= product.description %></li>
  	 		</ul>
  	 	</div>
   <% end %>
  		
 <% end %>
