

		  <table border=1>
  			<tr>
    			<th>Tytuł</th>
    			<th>Opis</th>
    			<th>Cena</th>
    			<th>Szczegóły</th>
  			</tr>
 
			<% @products.each do |product| %>
  			<tr>
    			<td><%= product.name %></td>
    			<td><%= product.description %></td>
    			<td><%= product.price %></td>
    			<td><%= link_to 'Show', admins_product_path(product)  %></td>
    			
  			</tr>
			<% end %>
   
		</table>
    <%= paginate @products, :outer_window => 3 %>
    <br />
    <%= link_to "Nowy produkt",new_admins_product_path %>
