<b> Produkt <%= @product.name %> </b>
<br />
<br />
<ul>
	<li> Opis: <%= @product.description %> </li>
	<li> Cena: <%= @product.price %> </li>
	<li> Kategoria: <%= @product.category.name %> </li>
</ul>

<%= button_to("Do koszyka", {:controller => "orders", :action => "create", :id => @product.id})%>


